body
{
	width: 100%;
}

footer
{
	width: 100%;
	text-align: center;
    height: 100px;
    background-color: #272b30;
}

footer p
{
    text-align: center;
    font-size: 24px;
    font-family: Lato;
    line-height: 100px;
    color: #5cb85c;
}

img
{

}